<div class="homepage-background-theatre">
 <div class="container">
     <div class="text-spacing">
    <div class="text-span">
  <span>CREATE A LIST</span><br>
  <span>OF YOUR FAVOURITE</span><br>
  <span>MOVIES</span>
</div>
</div>
   <div class="list-index-wrapper">
     <h2>My Lists</h2>
      <a href=''>
    <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
            <%= list.name %>
        <% end %>
    <% end %>
</a>
  </div>

    <div class="button-wrapper">
         <div><%= link_to 'Create', new_list_path%></div>
  </div>


 </div>
</div>
