<div class="navbar-wrapper">
  <div class="navbar-spacing">
  <div class="navbar-content">
   <%= image_tag "cinema-logo.png", alt: "cinema logo", class: "logo"%>
    <div class="nav-btn-wrapper">
   <%= link_to "Home", root_path, class: "nav-link-btn" %>
    <%= link_to 'New List', new_list_path, class: "new-nav-btn"%>
   </div>
   </div>
 </div>
</div>
