.button-wrapper a {
  text-decoration: none;
  background-color: black;
  font-family: 'Source Serif 4',serif;
  font-size: 22px;
  color: white;
  border: 1px solid white;
  padding:5px;
  font-weight: medium;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 220px;
  height: 60px;
  margin-right: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: -4px -4px 10px rgba(19, 19, 19, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(19, 19, 19, 0.5),
    4px 4px 10px rgba(0, 0, 0, 0.3);

}

.button-wrapper a:hover {
 opacity: 1;
 transform: scale(1.2);

}

.create-button {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 8px 24px;
  width: 130px;
  height: 40px;
  font-weight: medium;
  transition: opacity 0.3s ease;
  font-family: 'Source Serif 4', serif;

}
.create-button:hover {
  opacity: 1;
  transform: scale(1.2);
}
.delete-button {
  display: block;
  background-color: black;
  padding: 10px 20px;

  color: white;
  border: 1px solid white;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
  font-family: 'Source Serif 4', serif;
  font-weight: medium;


    &:hover {
      background-color: lighten(grey, 10%);
    }
}

.delete-button a {
  text-decoration: none !important;
  color: white;
}
.btn-add{
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 8px 24px;
  width: 140px;
  height: 40px;
  font-weight: medium;
  transition: opacity 0.3s ease;
  font-family: 'Source Serif 4', serif;
}
.btn-add a{
 text-decoration: none;
  color: white;
}
.btn-delete{
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 8px 24px;
  width: 140px;
  height: 40px;
  font-weight: medium;
  transition: opacity 0.3s ease;
  font-family: 'Source Serif 4', serif;
}
.btn-delete a {
  text-decoration: none;
  color: white;
}
